<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">kep2012</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Names the annotated entity class -->
<!--        <mapping class="org.javabrains.koushik.dto.Lesson01.UserDetails"/> -->

<!--        <mapping class="org.javabrains.koushik.dto.Lesson02.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson03.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson04.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson05.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson06.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson07.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson08.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson09.UserDetails"/> -->

<!--		<mapping class="org.javabrains.koushik.dto.Lesson10.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson11.UserDetails"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson11.Vehicle"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson12.UserDetails"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson12.Vehicle"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson13.UserDetails"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson13.Vehicle"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson14.UserDetails"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson14.Vehicle"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson15.UserDetails"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson15.Vehicle"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson15.TwoWheeler"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson15.FourWheeler"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson16.UserDetails"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson16.Vehicle"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson16.TwoWheeler"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson16.FourWheeler"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson17.Vehicle"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson17.TwoWheeler"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson17.FourWheeler"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson18.Vehicle"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson18.TwoWheeler"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson18.FourWheeler"/> -->
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson19.UserDetails"/> -->
			
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson20.UserDetails"/> -->
			
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson21.UserDetails"/> -->
			
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson22.UserDetails"/> -->
			
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson23.UserDetails"/> -->
			
<!--		<mapping class="org.javabrains.koushik.dto.Lesson24.UserDetails"/> -->
			
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson25.UserDetails"/> -->

<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson26.UserDetails"/> -->
			
<!-- 		<mapping class="org.javabrains.koushik.dto.Lesson27.UserDetails"/> -->
			
			<mapping class="org.javabrains.koushik.dto.Lesson28.UserDetails"/>

    </session-factory>

</hibernate-configuration>